.component-button {
  display: inline-flex;
  width: 95px;
  height: 90px;
  margin: 2px;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 194px;
  height: 90px;
  margin: 2px;
}

.component-button button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 25px;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #f5923e;
  color: white;
}
