.component-display {
    background-color: #858694;
    color: white;
    text-align: right;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1px;
}
  
.component-display > div {
    font-size: 35px;
    padding: 10px 8px 2px 6px;
}


