html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.component-app {
  width: 20%;
  height: 100%;
}
